In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

/kaggle/input/ds5230usml-project/hashes.txt
/kaggle/input/ds5230usml-project/database.sqlite
/kaggle/input/ds5230usml-project/Reviews.csv

In [2]:
reviews = pd.read_csv("../input/ds5230usml-project/Reviews.csv")

In [3]:
reviews.head()

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,5,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,1,1346976000,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...
2,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,4,1219017600,"""Delight"" says it all",This is a confection that has been around a fe...
3,4,B000UA0QIQ,A395BORC6FGVXV,Karl,3,3,2,1307923200,Cough Medicine,If you are looking for the secret ingredient i...
4,5,B006K2ZZ7K,A1UQRSCLF8GW1T,"Michael D. Bigham ""M. Wassir""",0,0,5,1350777600,Great taffy,Great taffy at a great price. There was a wid...

> Finding the Average rating for each product and creating a Dataframe for it.

In [4]:
ratings = pd.DataFrame(reviews.groupby("ProductId")["Score"].mean())
ratings.head()

               Score
ProductId
0006641040  4.351351
141278509X  5.000000
2734888454  3.500000
2841233731  5.000000
7310172001  4.751445

Finding the Rating Count i.e number of ratings that each product has got

In [5]:
ratings['rating_count'] = pd.DataFrame(reviews.groupby("ProductId")["Score"].count())
ratings.head()

               Score  rating_count
ProductId
0006641040  4.351351            37
141278509X  5.000000             1
2734888454  3.500000             2
2841233731  5.000000             1
7310172001  4.751445           173

Taking a look at Statistical Analysis of the rating Data Frame.

In [6]:
ratings.describe()

              Score  rating_count
count  74258.000000  74258.000000
mean       4.166189      7.655121
std        1.070182     26.453485
min        1.000000      1.000000
25%        3.783784      1.000000
50%        4.500000      2.000000
75%        5.000000      5.000000
max        5.000000    913.000000

In [7]:
# Arranging the ratings DataFrame in Descending Order.
ratings.sort_values('rating_count',ascending = False).head()

               Score  rating_count
ProductId
B007JFMH8M  4.582694           913
B0026RQTGE  4.588608           632
B002QWHJOU  4.588608           632
B002QWP89S  4.588608           632
B002QWP8H0  4.588608           632

Building a user * item unity matrix using pivote table function.

This function will cross tabulate each user against each place, and output a matrix.

1. Index: User ID
2. Column: Product ID
3. Vaues: Values from Score column

In [ ]:
#products_cross_table = pd.pivot_table(data=reviews, values="Score", index="UserId", columns = "ProductId")

In [ ]:
#Displaying the first 5 rows
#products_cross_table.head()